@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Open+Sans:wght@300&display=swap');
h2{
  /* font-family: 'Courier New', Courier, monospace; */
  color:yellow;
  background-color: black;
}
.btn-space {
  margin-right: 5px;
}